:root {
  --offwhite: #fafcf9;
  --gray: #4f5355;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(../Images/florian-olivo-JNz9bQD3Oio-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: var(--gray);
  color: var(--offwhite);
  margin-bottom: 100px;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  color: var(--offwhite);
  width: 400px;
  padding-left: 50px;
  justify-content: end;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.header nav ul li a {
  color: var(--offwhite);
}

.float-left {
  float: left;
  margin-right: 25px;
  height: 150px;
}

.about-me {
  margin-bottom: 50px;
  padding: 11px;
  height: 250px;
  margin-left: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: transparent;
  color: var(--offwhite);
}

.about-me h2 {
  display: flex;
  color: var(--offwhite);
  justify-content: center;
  font-size: 40px;
}

.about-me p {
  font-size: 25px;
}

.work {
  display: flex;
  padding-top: 15px;
  margin-right: 20px;
  float: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 40px;
  color: var(--offwhite);
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: transparent;
  grid-gap: 10px;
  padding: 10px;
}

.large-box {
  position: relative;
  text-align: center;
  color: var(--offwhite);
}

.calculator-image {
  width: 100%;
  height: 500px;
}

.calculator {
  position: Absolute;
  top: 8px;
  left: 16px;
  font-size: 25px;
}

.small-box1 {
  position: relative;
  text-align: center;
  color: white;
}

.videogame-image {
  width: 100%;
  height: 300px;
}

.video-game {
  position: Absolute;
  top: 8px;
  left: 16px;
  font-size: 25px;
}

.small-box2 {
  position: relative;
  text-align: center;
  color: var(--offwhite);
}

.puzzle-image {
  width: 100%;
  height: 300px;
}

.puzzle {
  position: Absolute;
  top: 8px;
  left: 16px;
  font-size: 25px;
}

.footer {
  padding: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #4f5355;
  color: var(--offwhite);
  margin-top: 100px;
}

.footer h4 {
  display: inline-block;
  font-size: 48px;
  color: var(--offwhite);
  width: 400px;
  padding-left: 50px;
  justify-content: end;
}

.footer nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.footer nav ul {
  list-style-type: none;
}

.footer nav ul li {
  display: inline-block;
  margin-left: 25px;
}

.footer nav ul li a {
  color: var(--offwhite);
}
